/*!******************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[2].oneOf[13].use[3]!./app/styles/pricing.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************/

.is-one-third {
  padding: 4rem 5rem;
}
.spacer {
  height: 40px;
}
.plan_title {
  margin-bottom: 0 !important;
}
.plan_subtitle {
  color: #90a4ae;
}
.price {
  margin-top: 40px;
}
.price h2 {
  color: #00c4a7;
}
.price span {
  font-size: 20px;
}
.unavailable {
  text-decoration: line-through;
  color: #90a4ae;
}
.best_selling {
  background: #003049;
}
.best_selling h2 {
  color: #f77f00;
}
.best_selling_btn {
  background: #f77f00 !important;
}

